@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);


















#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #053461;
}
#content5-cb .mbr-section-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #7e0202;
}
#content5-cb .mbr-section-title B {
  color: #053461;
}
#content5-dh P {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 36px;
  color: #ffffff;
}
#content5-dh .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
#content5-dh .mbr-section-title B {
  color: #ffffff;
}
#features1-br B {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#features1-br H4 {
  font-family: 'Oswald', sans-serif;
}
#content4-7q DIV {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
}
#content4-7q B {
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#content4-7q H4 {
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#content4-7q P {
  font-size: 22px;
}
#content5-a2 .mbr-section-title {
  text-align: center;
  color: #f1c050;
}
#content5-a2 .mbr-section-title B {
  font-family: 'Open Sans', sans-serif;
  color: #7e0202;
}
#content4-1d P {
  text-align: center;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}
#content4-1d B {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#content4-1d H4 {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
  font-size: 25px;
}
#content4-1d I {
  font-size: 18px;
}
#msg-box3-7p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7p .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#content4-1f P {
  text-align: center;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}
#content4-1f B {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#content4-1f H4 {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
  font-size: 25px;
}
#content4-1f I {
  font-size: 18px;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}








#dropdown-menu-5g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5g .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-5g .nav .link,
#dropdown-menu-5g .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-5g .navbar,
#dropdown-menu-5g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-5g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5g .dropdown-menu a:hover,
#dropdown-menu-5g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-5g .navbar-toggler {
  color: #053461;
}
#msg-box3-5n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5n .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box3-5n .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-5n .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-5j small {
  font-size: 16px;
}
#msg-box4-5j .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-5j .mbr-section-title DIV {
  color: #7e0202;
}
#msg-box4-5j .mbr-section-title B {
  color: #7e0202;
}
#msg-box4-5l small {
  font-size: 16px;
}
#msg-box4-5l .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-5l .mbr-section-title DIV {
  color: #7e0202;
}
#msg-box4-5l .mbr-section-title B {
  color: #7e0202;
}
#msg-box4-6f .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-6f .mbr-section-title B {
  color: #7e0202;
}
#contacts1-5h P {
  color: #26272c;
  text-align: center;
}
#contacts1-5h STRONG {
  color: #7e0202;
}
#contacts1-5h UL {
  color: #f1c050;
}
#footer1-5i P {
  color: #26272c;
  text-align: center;
}







#msg-box3-6a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box3-6a .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6a .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-6j .mbr-section-title {
  color: #7e0202;
}
#msg-box4-6j .mbr-section-title B {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-6j .lead P {
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-64 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-64 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-64 .nav .link,
#dropdown-menu-64 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-64 .navbar,
#dropdown-menu-64 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-64 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-64 .dropdown-menu a:hover,
#dropdown-menu-64 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-64 .navbar-toggler {
  color: #053461;
}
#contacts1-65 P {
  color: #26272c;
  text-align: center;
}
#contacts1-65 STRONG {
  color: #7e0202;
}
#contacts1-65 UL {
  color: #f1c050;
}
#footer1-66 P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-6m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6m .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-6m .nav .link,
#dropdown-menu-6m .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-6m .navbar,
#dropdown-menu-6m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6m .dropdown-menu a:hover,
#dropdown-menu-6m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6m .navbar-toggler {
  color: #053461;
}
#header3-6o H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #7e0202;
}
#content1-6q P {
  text-align: center;
  color: #053461;
}
#contacts1-6n P {
  color: #26272c;
  text-align: center;
}
#contacts1-6n STRONG {
  color: #7e0202;
}
#contacts1-6n UL {
  color: #f1c050;
}



#dropdown-menu-7h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7h .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-7h .nav .link,
#dropdown-menu-7h .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-7h .navbar,
#dropdown-menu-7h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-7h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7h .dropdown-menu a:hover,
#dropdown-menu-7h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-7h .navbar-toggler {
  color: #053461;
}
#msg-box3-7o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7o .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#contacts1-7i P {
  color: #26272c;
  text-align: center;
}
#contacts1-7i STRONG {
  color: #7e0202;
}
#contacts1-7i UL {
  color: #f1c050;
}














#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6 .navbar-toggler {
  color: #053461;
}
#msg-box3-3a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3a .mbr-section-title B {
  color: #7e0202;
  font-family: 'Oxygen', sans-serif;
  font-size: 60px;
}
#msg-box3-3a .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3h .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3h .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#msg-box3-3h .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#features1-3d H4 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#msg-box3-3o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3o .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3o .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3o .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-3o .mbr-section-title I {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#msg-box4-57 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-57 .mbr-section-title B {
  color: #7e0202;
}
#msg-box4-57 .lead P {
  font-size: 24px;
}
#contacts1-33 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 STRONG {
  color: #7e0202;
}
#contacts1-33 UL {
  color: #f1c050;
}
#footer1-31 P {
  color: #26272c;
  text-align: center;
}





#dropdown-menu-4s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4s .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-4s .nav .link,
#dropdown-menu-4s .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-4s .navbar,
#dropdown-menu-4s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4s .dropdown-menu a:hover,
#dropdown-menu-4s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4s .navbar-toggler {
  color: #053461;
}
#msg-box3-4u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4u .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-4u .mbr-section-title B {
  color: #f1c050;
}
#msg-box3-4u .lead P {
  color: #26272c;
  font-size: 19px;
}
#footer1-4v P {
  color: #26272c;
  text-align: center;
}
#testimonials1-56 .card-footer > div {
  font-size: 30px;
  color: #7e0202;
  text-align: center;
}
#testimonials1-56 .card-footer > small {
  font-size: 30px;
  color: #7e0202;
  text-align: center;
}
#testimonials1-56 .card-block {
  text-align: center;
  font-size: 36px;
}
#testimonials1-56 .mbr-section-title B {
  font-family: 'Oswald', sans-serif;
  color: #7e0202;
}
#testimonials1-56 .card-block P {
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#form1-5c .mbr-section-title {
  font-size: 19px;
}
#contacts1-4y P {
  color: #26272c;
  text-align: center;
}
#contacts1-4y STRONG {
  color: #7e0202;
}
#contacts1-4y UL {
  color: #f1c050;
}






#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #053461;
}
#msg-box3-2e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2e .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-2e .mbr-section-title B {
  color: #053461;
}
#msg-box3-2e .lead P {
  color: #ffffff;
}
#features1-2f H4 {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
#content4-2g H4 {
  font-family: 'Oxygen', sans-serif;
}
#content4-2g P {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}




#dropdown-menu-2m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2m .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-2m .nav .link,
#dropdown-menu-2m .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-2m .navbar,
#dropdown-menu-2m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2m .dropdown-menu a:hover,
#dropdown-menu-2m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2m .navbar-toggler {
  color: #053461;
}
#footer1-2p P {
  color: #26272c;
  text-align: center;
}
#msg-box3-85 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-85 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-85 .mbr-section-title {
  color: #ffffff;
}
#msg-box3-85 .lead P {
  color: #ffffff;
}
#msg-box3-85 .mbr-section-title B {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-37 .mbr-section-title {
  font-size: 19px;
  font-family: 'Oxygen', sans-serif;
}
#contacts1-2r P {
  color: #26272c;
  text-align: center;
}
#contacts1-2r STRONG {
  color: #7e0202;
}
#contacts1-2r UL {
  color: #f1c050;
}



#dropdown-menu-2s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2s .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-2s .nav .link,
#dropdown-menu-2s .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-2s .navbar,
#dropdown-menu-2s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2s .dropdown-menu a:hover,
#dropdown-menu-2s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2s .navbar-toggler {
  color: #053461;
}
#footer1-2v P {
  color: #26272c;
  text-align: center;
}
#msg-box3-86 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-86 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-86 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-86 .lead P {
  color: #ffffff;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-38 .mbr-section-title {
  font-size: 19px;
}
#contacts1-2x P {
  color: #26272c;
  text-align: center;
}
#contacts1-2x STRONG {
  color: #7e0202;
}
#contacts1-2x UL {
  color: #f1c050;
}



#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4 .navbar-toggler {
  color: #053461;
}
#msg-box3-84 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-84 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-84 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box3-84 .lead P {
  color: #ffffff;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}
#msg-box3-3y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}



#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-v .navbar-toggler {
  color: #053461;
}
#msg-box3-6r .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6r .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6r .lead P {
  color: #ffffff;
}
#msg-box3-2i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-w .navbar-toggler {
  color: #053461;
}
#msg-box3-6s .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6s .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6s .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-2j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-x .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-x .nav .link,
#dropdown-menu-x .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-x .navbar,
#dropdown-menu-x .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-x .dropdown-menu a:hover,
#dropdown-menu-x .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-x .navbar-toggler {
  color: #053461;
}
#msg-box3-1q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1q .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-1q .mbr-section-title B {
  color: #ffffff;
}
#msg-box3-1q .lead P {
  color: #ffffff;
}
#msg-box3-2h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2h .lead P {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}




#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-11 .navbar-toggler {
  color: #053461;
}
#msg-box3-6t .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6t .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box3-6t .lead P {
  color: #ffffff;
}
#msg-box3-49 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-49 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-49 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-49 .mbr-section-title B {
  color: #7e0202;
}
#contacts1-33 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 STRONG {
  color: #7e0202;
}
#contacts1-33 UL {
  color: #f1c050;
}




#dropdown-menu-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-y .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-y .nav .link,
#dropdown-menu-y .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-y .navbar,
#dropdown-menu-y .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-y .dropdown-menu a:hover,
#dropdown-menu-y .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-y .navbar-toggler {
  color: #053461;
}
#msg-box3-6u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6u .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-4a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-4a .mbr-section-title B {
  color: #7e0202;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-z .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-z .nav .link,
#dropdown-menu-z .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-z .navbar,
#dropdown-menu-z .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-z .dropdown-menu a:hover,
#dropdown-menu-z .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-z .navbar-toggler {
  color: #053461;
}
#msg-box3-6v .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6v .lead P {
  color: #000000;
}
#msg-box3-6v .mbr-section-title {
  color: #7e0202;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-2k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2k .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}


#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #053461;
}
#msg-box3-6w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6w .mbr-section-title {
  color: #053461;
}
#msg-box3-2l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}











#dropdown-menu-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-r .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-r .nav .link,
#dropdown-menu-r .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-r .navbar,
#dropdown-menu-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-r .dropdown-menu a:hover,
#dropdown-menu-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-r .navbar-toggler {
  color: #053461;
}
#msg-box3-40 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-40 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-40 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-40 .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#msg-box3-40 .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#testimonials1-43 .card-block B {
  font-size: 22px;
}
#testimonials1-43 .card-block P {
  font-size: 24px;
  text-align: center;
}
#testimonials1-43 .card-footer > div DIV {
  text-align: center;
  font-size: 19px;
}
#testimonials1-43 .card-footer > div {
  text-align: center;
  font-size: 14px;
}
#testimonials1-45 .card-block B {
  font-size: 22px;
}
#testimonials1-45 .card-block P {
  font-size: 24px;
  text-align: center;
}
#testimonials1-45 .card-block DIV {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #053461;
}
#testimonials1-45 .card-block {
  text-align: center;
}
#testimonials1-45 .card-footer > small {
  text-align: center;
  font-size: 22px;
  color: #053461;
}
#testimonials1-45 .card-footer > div DIV {
  text-align: left;
  font-size: 23px;
}
#testimonials1-45 .card-footer > div {
  font-size: 24px;
  color: #7e0202;
}
#testimonials1-45 .card-block I {
  font-size: 30px;
  color: #7e0202;
}
#msg-box3-46 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-46 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-46 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-46 .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-46 .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-46 .mbr-section-title I {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#testimonials1-48 .card-block B {
  font-size: 22px;
}
#testimonials1-48 .card-block P {
  font-size: 24px;
  text-align: center;
}
#testimonials1-48 .card-block DIV {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #053461;
}
#testimonials1-48 .card-block {
  text-align: center;
}
#testimonials1-48 .card-footer > small {
  text-align: center;
  font-size: 22px;
  color: #053461;
}
#testimonials1-48 .card-footer > div DIV {
  text-align: left;
  font-size: 23px;
}
#testimonials1-48 .card-footer > div {
  font-size: 24px;
  color: #7e0202;
}
#testimonials1-48 .card-block I {
  font-size: 30px;
  color: #7e0202;
}
#contacts1-33 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 STRONG {
  color: #7e0202;
}
#contacts1-33 UL {
  color: #f1c050;
}
#footer1-31 P {
  color: #26272c;
  text-align: center;
}








#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-12 .navbar-toggler {
  color: #053461;
}
#msg-box3-6x .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6x .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6x .lead P {
  color: #ffffff;
}
#msg-box4-4b .lead P {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}
#msg-box4-4b .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-4b .mbr-section-title B {
  color: #053461;
}
#features1-9x B {
  font-family: 'Ubuntu', sans-serif;
  color: #f1c050;
}
#features1-9x .btn {
  font-size: 19px;
}
#msg-box3-9y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4e .mbr-section-title {
  font-size: 36px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-4e .mbr-section-title B {
  color: #053461;
}
#msg-box4-77 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#contacts1-33 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 STRONG {
  color: #7e0202;
}
#contacts1-33 UL {
  color: #f1c050;
}







#msg-box3-6c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6c .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box3-6c .mbr-section-title B {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-6c .lead P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#form1-l .mbr-section-title {
  color: #26272c;
  font-family: 'Oxygen', sans-serif;
  font-size: 60px;
}
#form2-a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#contacts1-k P {
  color: #26272c;
  text-align: center;
}
#contacts1-k STRONG {
  color: #7e0202;
}
#contacts1-k UL {
  color: #f1c050;
}
#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-8 .navbar-toggler {
  color: #053461;
}
#footer1-j P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-2y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2y .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-2y .nav .link,
#dropdown-menu-2y .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-2y .navbar,
#dropdown-menu-2y .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2y .dropdown-menu a:hover,
#dropdown-menu-2y .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2y .navbar-toggler {
  color: #053461;
}
#msg-box3-30 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-30 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-30 .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-30 .mbr-section-title B {
  color: #ffffff;
}
#msg-box3-30 .lead P {
  color: #ffffff;
}
#msg-box3-35 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-35 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-39 .mbr-section-title {
  font-size: 19px;
}
#footer1-31 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 P {
  color: #26272c;
  text-align: center;
}
#contacts1-33 STRONG {
  color: #7e0202;
}
#contacts1-33 UL {
  color: #f1c050;
}



#dropdown-menu-5x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5x .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-5x .nav .link,
#dropdown-menu-5x .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-5x .navbar,
#dropdown-menu-5x .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-5x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5x .dropdown-menu a:hover,
#dropdown-menu-5x .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-5x .navbar-toggler {
  color: #053461;
}
#content5-5y .mbr-section-title B {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#contacts1-5z P {
  color: #26272c;
  text-align: center;
}
#contacts1-5z STRONG {
  color: #7e0202;
}
#contacts1-5z UL {
  color: #f1c050;
}
#footer1-60 P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-5s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5s .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-5s .nav .link,
#dropdown-menu-5s .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-5s .navbar,
#dropdown-menu-5s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-5s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5s .dropdown-menu a:hover,
#dropdown-menu-5s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-5s .navbar-toggler {
  color: #053461;
}
#content5-5w .mbr-section-title B {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#contacts1-5t P {
  color: #26272c;
  text-align: center;
}
#contacts1-5t STRONG {
  color: #7e0202;
}
#contacts1-5t UL {
  color: #f1c050;
}
#footer1-5u P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-6k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6k .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-6k .nav .link,
#dropdown-menu-6k .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-6k .navbar,
#dropdown-menu-6k .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6k .dropdown-menu a:hover,
#dropdown-menu-6k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6k .navbar-toggler {
  color: #053461;
}
#msg-box3-72 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-72 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-72 .mbr-section-title {
  color: #7e0202;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-72 .lead P {
  color: #053461;
}
#contacts1-6l P {
  color: #26272c;
  text-align: center;
}
#contacts1-6l STRONG {
  color: #7e0202;
}
#contacts1-6l UL {
  color: #f1c050;
}










#dropdown-menu-ab .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-ab .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-ab .nav .link,
#dropdown-menu-ab .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-ab .navbar,
#dropdown-menu-ab .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-ab .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-ab .dropdown-menu a:hover,
#dropdown-menu-ab .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-ab .navbar-toggler {
  color: #053461;
}
#content5-af P {
  font-family: 'Oswald', sans-serif;
  font-size: 46px;
  text-align: center;
  color: #fff8e0;
}
#content5-af .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #890602;
}
#content5-af .mbr-section-title B {
  color: #d9534f;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-ak .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-ak .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-ak .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box3-ak .mbr-section-title B {
  font-size: 80px;
  color: #d9534f;
}
#msg-box3-ak .lead P {
  font-family: 'Raleway', sans-serif;
}
#msg-box3-al .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-al .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-al .mbr-section-title DIV {
  font-size: 24px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-al .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#msg-box3-al .mbr-section-title B {
  color: #053461;
}
#content5-ah P {
  font-size: 16px;
}
#content5-ah .mbr-section-title {
  text-align: center;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}
#contacts1-ac P {
  color: #26272c;
  text-align: center;
}
#contacts1-ac STRONG {
  color: #7e0202;
}
#contacts1-ac UL {
  color: #f1c050;
}
#footer1-ad P {
  color: #26272c;
  text-align: center;
}





#dropdown-menu-80 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-80 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-80 .nav .link,
#dropdown-menu-80 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-80 .navbar,
#dropdown-menu-80 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-80 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-80 .dropdown-menu a:hover,
#dropdown-menu-80 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-80 .navbar-toggler {
  color: #053461;
}
#msg-box3-83 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-83 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-83 .mbr-section-title DIV {
  font-family: 'Oxygen', sans-serif;
  color: #f1c050;
}
#msg-box3-83 .mbr-section-title B {
  font-family: 'Oxygen', sans-serif;
  color: #f1c050;
}
#msg-box3-83 .lead P {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
#contacts1-81 P {
  color: #26272c;
  text-align: center;
}
#contacts1-81 STRONG {
  color: #7e0202;
}
#contacts1-81 UL {
  color: #f1c050;
}
#footer1-82 P {
  color: #26272c;
  text-align: center;
}



#dropdown-menu-7s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7s .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-7s .nav .link,
#dropdown-menu-7s .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-7s .navbar,
#dropdown-menu-7s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-7s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7s .dropdown-menu a:hover,
#dropdown-menu-7s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-7s .navbar-toggler {
  color: #053461;
}
#msg-box3-7v .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7v .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-7v .mbr-section-title B {
  color: #7e0202;
}
#msg-box3-7v .lead P {
  color: #26272c;
}
#msg-box3-7v .mbr-section-title DIV {
  color: #f1c050;
}
#contacts1-7t P {
  color: #26272c;
  text-align: center;
}
#contacts1-7t STRONG {
  color: #7e0202;
}
#contacts1-7t UL {
  color: #f1c050;
}
#footer1-7u P {
  color: #26272c;
  text-align: center;
}







#dropdown-menu-78 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-78 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-78 .nav .link,
#dropdown-menu-78 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-78 .navbar,
#dropdown-menu-78 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-78 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-78 .dropdown-menu a:hover,
#dropdown-menu-78 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-78 .navbar-toggler {
  color: #053461;
}
#msg-box3-7a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-7a .mbr-section-title B {
  color: #ffffff;
}
#msg-box3-7d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7d .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-7d .mbr-section-title B {
  color: #ffffff;
}
#msg-box4-7e .mbr-section-title {
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
  color: #053461;
}
#msg-box4-7f .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #7e0202;
}
#msg-box4-7g .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #053461;
}
#contacts1-79 P {
  color: #26272c;
  text-align: center;
}
#contacts1-79 STRONG {
  color: #7e0202;
}
#contacts1-79 UL {
  color: #f1c050;
}






#msg-box3-8a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-8a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-8a .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #890602;
}
#content4-8b H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  color: #890602;
}
#content4-8b P {
  text-align: center;
  color: #053461;
}
#content4-8c H4 {
  font-family: 'Oxygen', sans-serif;
  color: #890602;
  font-size: 30px;
}
#content4-8c P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #053461;
}
#content4-8c B {
  font-size: 30px;
}
#contacts1-87 P {
  color: #26272c;
  text-align: center;
}
#contacts1-87 STRONG {
  color: #7e0202;
}
#contacts1-87 UL {
  color: #f1c050;
}
#dropdown-menu-88 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-88 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-88 .nav .link,
#dropdown-menu-88 .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-88 .navbar,
#dropdown-menu-88 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-88 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-88 .dropdown-menu a:hover,
#dropdown-menu-88 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-88 .navbar-toggler {
  color: #053461;
}
#footer1-89 P {
  color: #26272c;
  text-align: center;
}










#dropdown-menu-ci .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-ci .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-ci .nav .link,
#dropdown-menu-ci .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-ci .navbar,
#dropdown-menu-ci .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-ci .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-ci .dropdown-menu a:hover,
#dropdown-menu-ci .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-ci .navbar-toggler {
  color: #053461;
}
#msg-box3-cp .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-cp .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-cp .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#msg-box3-cp .mbr-section-title DIV {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-cp .mbr-section-title B {
  font-family: 'Roboto', sans-serif;
}
#features1-dg B {
  font-family: 'Oswald', sans-serif;
}
#features1-dg DIV {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#features1-dg H4 {
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
}
#content4-db B {
  font-size: 20px;
}
#content4-db P {
  text-align: center;
  font-size: 20px;
}
#content4-db H4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#content4-db DIV {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#contacts1-cj P {
  color: #26272c;
  text-align: center;
}
#contacts1-cj STRONG {
  color: #7e0202;
}
#contacts1-cj UL {
  color: #f1c050;
}
#footer1-ck P {
  color: #26272c;
  text-align: center;
}







#dropdown-menu-cl .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-cl .navbar-brand a {
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-cl .nav .link,
#dropdown-menu-cl .dropdown-item {
  font-size: 1em;
  color: #053461;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-cl .navbar,
#dropdown-menu-cl .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-cl .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-cl .dropdown-menu a:hover,
#dropdown-menu-cl .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-cl .navbar-toggler {
  color: #053461;
}
#msg-box3-co .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-co .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-co .mbr-section-title DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
}
#msg-box3-co .mbr-section-title {
  font-family: 'Oswald', sans-serif;
}
#msg-box3-co .mbr-section-title B {
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
}
#features1-df DIV {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#features1-df H4 {
  font-family: 'Roboto', sans-serif;
}
#features1-df B {
  font-size: 25px;
}
#contacts1-cm P {
  color: #26272c;
  text-align: center;
}
#contacts1-cm STRONG {
  color: #7e0202;
}
#contacts1-cm UL {
  color: #f1c050;
}
#footer1-cn P {
  color: #26272c;
  text-align: center;
}
